.box{
  width: 350px;
  height: 370px;
  background: #000000;
  opacity: 0.5;
  padding: 5px 15px;
  color: #FFFFFF;
  .clearfix{
    display: block;
    clear: both;
    content: '';
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  .quick{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size:20px;
  }
  .dai{
    width: 100%;
    height: 10px;
    margin: 15px 0;
    span{
      font-size:14px;
    }
  }
  .inp{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    p{
      width: 80%;
      color: #666666;
      padding: 5px;
    }
    .btn{
      width: 20%;
      height: 40px;
      span{
        width: 100%;
        height: 40px;
        display: block;
        position: relative;

      }
      span.span2{
        position: absolute;
        top:8px;
        right: -126px;
        color: #666666;
      }

    }
    ul{
      width: 10%;
      height: 40px;
      position: absolute;
      top:24px;
      left: -40px;
      z-index: 1;
      list-style: none;
      display: none;
      li{
        width: 320px;
        background: #666666;
      }
    }
  }
  .search{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #0094EF;
    margin-top: 10px;
  }
  .foo{
    font-size:12px;
    width: 100%;
    text-align: center;
  }
}